# Mac Specific
**/.DS_Store

# Zephyr
*/zephyr/
*/bootloader/
*/build/
*/modules
*/tools

# Misc
**/.west
**/.claude
**/.venv
**/*cache*
presentation/

# Docusaurus
gh_pages/node_modules/
gh_pages/build/
gh_pages/.docusaurus/